.root {
    grid-template-areas: "Navigation Content";
    grid-auto-columns: 425px auto;
    grid-auto-rows: auto;
}
    .root nav {
        overflow: auto;
        scrollbar-width: thin;
        background: var(--secondary);
        padding: var(--padding);
        box-shadow: inset -10px 0 5px -10px var(--border-sidebar);
    }

.activity {
    background: var(--background-activity-grid);
}

#Button_DaftarItem {
    display: none;
}

.list:has(input) .stack {
    grid-auto-columns: 100px auto;
}
    .list:has(input) .stack span {
        font-weight: 500;
    }
    .list:has(input) .stack input {
        text-align: right;
    }
    .list:has(input) .stack label {
        display: grid;
        grid-auto-flow: column;
        grid-auto-columns: auto max-content;
    }

#Section_ToolsJajanan {
    max-width: 350px;
}
#List_ToolsJajanan .stack {
    grid-auto-columns: 150px auto;
}
#List_DaftarJajanan .action {
    display: grid;
    grid-auto-flow: column;
    align-items: center;
    gap: 1em;
}
    #List_DaftarJajanan .action button {
        padding: 0;
    }
    #List_DaftarJajanan .action .quantity {
        font-weight: 500;
    }
#List_DaftarJajanan .description {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: max-content;
    gap: 1ch;
    color: var(--foreground-description);
    font-size: 0.9em;
}
    #List_DaftarJajanan .description .type, 
    #List_DaftarJajanan .description .flavor {
        text-transform: capitalize;
    }

#Section_DaftarJajanan > button:where(.plain, .accent),
#Section_ToolsJajanan > button:where(.plain, .accent) {
    display: grid;
    width: 100%;
    height: 2.5em;
    border-radius: 10px;
    margin-top: 5px;
}
    #Section_DaftarJajanan > button .progressring,
    #Section_ToolsJajanan > button .progressring {
        width: 1em;
        display: none;
    }
    #Section_DaftarJajanan > button.loading .progressring,
    #Section_ToolsJajanan > button.loading .progressring {
        display: block;
    }

#Section_HasilPewarnaan > #Grid_HasilPewarnaan,
#Section_HasilBingkisan > #Grid_HasilBingkisan {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 300px;
    gap: 0.5em;
    overflow-x: auto;
    margin: 0 calc(var(--padding) * -1);
    padding: 0 var(--padding);
    scrollbar-width: none;
}
#Section_HasilPewarnaan:has(> #Grid_HasilPewarnaan:empty),
#Section_HasilBingkisan:has(> #Grid_HasilBingkisan:empty) 
{
    display: none;
}
#Grid_HasilContainer {
    display: grid;
    gap: 0.5em;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}

.bingkisan {
    display: grid;
    background: var(--background-list);
    border-radius: 12px;
    padding: 1em;
    gap: 0.25em;
    align-content: start;
}
    .bingkisan .id {
        font-size: 1.15em;
        font-weight: 600;
    }
    .bingkisan .total {
        display: grid;
        grid-auto-flow: column;
        grid-auto-columns: auto max-content max-content;
        gap: 1em;
    }
        .bingkisan .total .totalharga {
            display: grid;
            grid-auto-flow: column;
            grid-auto-columns: 1.25em max-content;
        }
            .bingkisan .total .totalharga::before {
                content: "\f0f0";
                font-family: var(--font-icon);
            }
        .bingkisan .total .totalmakanan {
            display: grid;
            grid-auto-flow: column;
            grid-auto-columns: 1.25em max-content;
        }
            .bingkisan .total .totalmakanan::before {
                content: "\f2f4";
                font-family: var(--font-icon);
            }
        .bingkisan .total .totalminuman {
            display: grid;
            grid-auto-flow: column;
            grid-auto-columns: 1.25em max-content;
        }
        .bingkisan .total .totalminuman::before {
            content: "\fdfa";
            font-family: var(--font-icon);
        }
    .bingkisan .daftarjajanan {
        border-top: 1px solid var(--border-context);
        margin-top: 0.5em;
        padding-top: 0.5em;
        display: grid;
        gap: 0.5em;
    }
    .bingkisan .daftarjajanan .jajanan {
        display: grid;
        } 
            .bingkisan .daftarjajanan .jajanan .description {
                display: grid;
                grid-auto-flow: column;
                grid-auto-columns: max-content;
                gap: 1ch;
                color: var(--foreground-description);
                font-size: 0.9em;
            }
                .bingkisan .daftarjajanan .jajanan .description .flavor,
                .bingkisan .daftarjajanan .jajanan .description .type {
                    text-transform: capitalize;
                }

@media screen and (max-width: 800px) {
    #Button_DaftarItem {
        display: block;
    }
    .root {
        width: calc(100vw + 320px);
        grid-auto-columns: 320px 100vw;
        transform: translateX(-320px);
        transition: 0.6s var(--key-animation) transform;
    }
        .root .activity {
            transition: 0.25s opacity;
        }
    .root.peek:not(.dim) {
        transform: translateX(0);
    }
        .root.peek .activity {
            opacity: 0.5;
        }
            .root.peek .activity > * {
                pointer-events: none;
            }
    #List_DaftarJajanan .description {
        display: flex;
        flex-wrap: wrap;
        gap: 0 1ch;
    }
}