body {
    display: grid;
    height: 100vh;
}

.root {
    grid-auto-flow: column;
    grid-auto-columns: auto;
    grid-auto-rows: auto;
    grid-template-areas: unset;
}

.activity {
    background: var(--background-activity-grid);
    grid-auto-rows: max-content auto;
}

#Content_Main > article {
    display: grid;
    grid-auto-columns: min(400px, 50%) auto;
    grid-auto-rows: max-content;
    grid-auto-flow: column;
    gap: var(--padding);
    justify-content: start;
}
    #Content_Main > article > section {
        display: grid;
        align-content: start;
    }

.list:has(input) .stack {
    grid-auto-columns: 100px auto;
}
    .list:has(input) .stack span {
        font-weight: 500;
    }
    .list:has(input) .stack input {
        text-align: right;
    }
    .list:has(input) .stack label {
        display: grid;
        grid-auto-flow: column;
        grid-auto-columns: auto max-content;
    }

#List_ToolsJajanan .stack {
    grid-auto-columns: 150px auto;
}

#List_DaftarJajanan .action {
    display: grid;
    grid-auto-flow: column;
    align-items: center;
    gap: 1em;
}
    #List_DaftarJajanan .action button {
        padding: 0;
    }
    #List_DaftarJajanan .action .quantity {
        font-weight: 500;
    }
#List_DaftarJajanan .description {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: max-content;
    gap: 1ch;
    color: var(--foreground-description);
    font-size: 0.9em;
}
    #List_DaftarJajanan .description .type, 
    #List_DaftarJajanan .description .flavor {
        text-transform: capitalize;
    }

#Section_DaftarJajanan > button,
#Section_ToolsJajanan > button {
    display: grid;
    width: 100%;
    height: 2.5em;
    border-radius: 10px;
    margin-top: 5px;
}


#Text_HasilBingkisan {
    display: block;
    font-size: 1.2em;
    font-weight: bold;
    margin: 2em 0 1em;
}

#Section_HasilBingkisan {
    display: grid;
    grid-auto-flow: column;
    gap: 0.5em;
    overflow-x: auto;
}
    #Section_HasilBingkisan .bingkisan {
        display: grid;
        background: var(--background-list);
        border-radius: 12px;
        padding: 1em;
        gap: 0.25em;
        align-content: start;
    }
        #Section_HasilBingkisan .bingkisan .id {
            font-size: 1.15em;
            font-weight: 600;
        }
        #Section_HasilBingkisan .bingkisan .total {
            display: grid;
            grid-auto-flow: column;
            grid-auto-columns: auto max-content max-content;
            gap: 1em;
        }
            #Section_HasilBingkisan .bingkisan .total .totalharga {
                display: grid;
                grid-auto-flow: column;
                grid-auto-columns: 1.25em max-content;
            }
                #Section_HasilBingkisan .bingkisan .total .totalharga::before {
                    content: "\f0f0";
                    font-family: var(--font-icon);
                }
            #Section_HasilBingkisan .bingkisan .total .totalmakanan {
                display: grid;
                grid-auto-flow: column;
                grid-auto-columns: 1.25em max-content;
            }
                #Section_HasilBingkisan .bingkisan .total .totalmakanan::before {
                    content: "\f2f4";
                    font-family: var(--font-icon);
                }
            #Section_HasilBingkisan .bingkisan .total .totalminuman {
                display: grid;
                grid-auto-flow: column;
                grid-auto-columns: 1.25em max-content;
            }
            #Section_HasilBingkisan .bingkisan .total .totalminuman::before {
                content: "\fdfa";
                font-family: var(--font-icon);
            }
        #Section_HasilBingkisan .bingkisan .daftarjajanan {
            border-top: 1px solid var(--border-context);
            margin-top: 0.5em;
            padding-top: 0.5em;
            display: grid;
            gap: 0.5em;
        }
        #Section_HasilBingkisan .bingkisan .daftarjajanan .jajanan {
            display: grid;
            } 
                #Section_HasilBingkisan .bingkisan .daftarjajanan .jajanan .description {
                    display: grid;
                    grid-auto-flow: column;
                    grid-auto-columns: max-content;
                    gap: 1ch;
                    color: var(--foreground-description);
                    font-size: 0.9em;
                }
                    #Section_HasilBingkisan .bingkisan .daftarjajanan .jajanan .description .flavor,
                    #Section_HasilBingkisan .bingkisan .daftarjajanan .jajanan .description .type {
                        text-transform: capitalize;
                    }