body {
    display: grid;
    height: 100vh;
}

.root {
    grid-auto-flow: column;
    grid-auto-columns: auto;
    grid-auto-rows: auto;
    grid-template-areas: unset;
}

.activity {
    background: var(--background-activity-grid);
    grid-auto-rows: max-content auto;
}

#Content_Main > article {
    display: grid;
    grid-auto-columns: min(400px, 50%) auto;
    grid-auto-flow: column;
    grid-auto-rows: max-content;
    gap: var(--padding);
}

.list:has(input) .stack {
    grid-auto-columns: 100px auto;
}
    .list:has(input) .stack span {
        font-weight: 500;
    }
    .list:has(input) .stack input {
        text-align: right;
    }
    .list:has(input) .stack label {
        display: grid;
        grid-auto-flow: column;
        grid-auto-columns: auto max-content;
    }

#List_DaftarJajanan .action {
    display: grid;
    grid-auto-flow: column;
    align-items: center;
    gap: 1em;
}
    #List_DaftarJajanan .action button {
        padding: 0;
    }
    #List_DaftarJajanan .action .quantity {
        font-weight: 500;
    }
#List_DaftarJajanan .description {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: max-content;
    gap: 1ch;
    color: var(--foreground-description);
    font-size: 0.9em;
}
    #List_DaftarJajanan .description .type, 
    #List_DaftarJajanan .description .flavor {
        text-transform: capitalize;
    }

#Section_DaftarJajanan > button {
    display: grid;
    width: 100%;
    height: 2.5em;
    border-radius: 10px;
    margin-top: 5px;
}